<div class= "container">
  <h2>マイページ</h2>
    <br>

    <div class="row justify-content-start">
        <div class="col-2">
          <strong>登録情報</strong>
        </div>
        <div class="col-2">
          <td><%= link_to "編集する", customers_my_page_edit_path, class: "btn btn-primary" %></td>
        </div>
        <br>
        <br>
    <table class="table table-light table-md">
      <thead class= "thead-dark">
        <tr>
          <th width="200px">氏名</th>
          <td><%= @customer.first_name %><%= @customer.last_name %></td>
        </tr>
        <tr width="200px">
          <th>カナ</th>
          <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
        </tr>
        <tr width="200px">
          <th>郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr width="200px">
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr width="200px">
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
         <tr width="200px">
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </thead>
    </table>
      <br>
      <div class="row justify-content-start">
        <div class="col-2">
          <strong>配送先</strong>
        </div>
        <div class="col-2">
          <td><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></td>
        </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-start">
        <div class="col-2">
          <strong>注文履歴</strong>
        </div>
        <div class="col-2">
          <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></td>
        </div>
      </div>
    </div>
</div>