<h1>商品一覧</h1>
 <br>
<div class="text-right">
     <%= link_to new_admin_item_path do %>
      <button type="button" class="btn-outline-dark btn-circle btn-lg">＋</button>
      <% end %>
    </div>
<table class="table table-striped tabole-bordered table-hover">
    <thead class= "thead-dark">
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税込価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
    </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <th><%= item.id %></th>
            <th><%= link_to item.name, admin_item_path(item.id) %></th>
            <th><%= item.price %></th>
            <th><%= item.genre.name %></th>
            <th><%= item.is_active ? '販売中' : '販売停止中' %></th>
          </tr>
        <% end %>
    </tbody>

</table>

