<div class = "container">
  <div class = "row">
    <div class ="col-md-6">
      <h3>商品新規登録</h3>

      <%= form_with model: @item, url: new_admin_item_path,local:true do |f|%>
      <div class="col-xs-3">
        <%= f.label:商品画像, class:"col-xs-2" %>
        <%= f.file_field :image, size:"56x5" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label:商品名, class:"col-xs-2" %>
        <%= f.text_field :name, size:"56x5" %>
      </div>
      <div class = "form-group">
        <div class ="align-top">
          <%= f.label:商品説明, class:"col-xs-2" %>
        </div>
          <%= f.text_area :introduction, size:"55x5" %>
      </div>
        <div class="form-group">
          <%= f.label:ジャンル, class:"col-xs-2" %>
          <%= select_tag(:genre_id, options_for_select([['---選択してください---', ''], ['ケーキ', '1'], ['プリン', '2'], ['焼き菓子', '3'], ['キャンディ', '4']])) %>
        </div>
        <div class="form-group">
          <%= f.label:税抜金額, class:"col-xs-2" %>
          <%= f.text_field :price, size:"56x5" %>
        </div>
        <div class="form-group">
          <%= f.label:販売ステータス, class:"col-xs-2" %>
          <%= f.text_field :is_active, size:"56x5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>