<div class = "container">
  <div class = "row">
    <div class = "col-6">
      <h3>商品詳細</h3>
      <%= image_tag @item.image, size:"250x250" %>
      </div>
      <br>
        <div class = "col-6">
          <table class= "table">
            <tbody>
              <br>
              <br>
              <tr></tr>
                <tr>
                  <th>商品名</th>
                  <th><%= @item.name %></th>
                </tr>
              <tr></tr>
                <tr>
                  <th>商品説明</th>
                  <th><%= @item.introduction %></th>
                </tr>
              <tr></tr>
                <tr>
                   <th>ジャンル</th>
                  <th><%= @item.genre.name %></th>
                </tr>
              <tr></tr>
                <tr>
                   <th>価格</th>
                  <th><%= @item.price %>円</th>
              </tr>
                 <tr></tr>
                <tr>
                   <th>販売ステータス</th>
                  <th><%= @item.is_active ? '販売中' : '販売停止中' %></th>
                </tr>
            </tbody>
          </table>
        <td><%= link_to "編集する", edit_admin_item_path, class: "btn btn-primary" %></td>
        </div>
    </div>
</div>

