<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/genres_sidebar', genres: @genres %>
    </div>
      <div class="col-9">
        <p class="top-text">
          ようこそ、NaganoCakeへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
        </p>
         <div class="recommend-title">
          <h3>新着商品</h3>
          <div class = "row">
        <% @items.each do |item| %>
          <div class= "col-sm">
            <%= item.name %><br>
            <%= link_to item_path(item) do %>
            <%= image_tag item.image, size:"250x250" %><br>
            <% end %>
            <%= item.price %><br>
            <%= item.is_active ? '販売中' : '販売停止中' %><br>
            <%= item.genre.name %><br>
          </div>
        <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</duv>