<div class= "container">
  <div class="row">
    <h2>会員情報編集</h2>
    <br>
    <br>
    <br>
      <%= form_with model: @customer, url: admin_customer_path, method: :patch,　class: "customer_edit" do |f|%>
    <div class= "form-group">
      <%= f.label :氏名, class: "col-sm-2" %>
      <%= f.text_field :first_name, class: "form-control-md" %>
      <%= f.text_field :last_name, class: "form-control-md" %>
    </div>
    <div class= "form-group">
      <%= f.label :フリガナ, class: "col-sm-2" %>
      <%= f.text_field :first_name_kana, class: "form-control-md" %>
      <%= f.text_field :last_name_kana, class: "form-control-md" %>
    </div>
    <div class= "form-group">
      <%= f.label :郵便番号, class: "col-sm-2" %>
      <%= f.text_field :postal_code, class: "form-control-md" %>
    </div>
    <div class= "form-group">
      <%= f.label :住所, class: "col-sm-2" %>
      <%= f.text_field :address, class: "col-md-6" %>
    </div>
    <div class= "form-group">
      <%= f.label :電話番号, class: "col-sm-2" %>
      <%= f.text_field :telephone_number, class: "form-control-md" %>
    </div>
    <div class= "form-group">
      <%= f.label :メールアドレス, class: "col-sm-2" %>
      <%= f.text_field :email, class: "form-control-md" %>
    </div>
    <div class= "form-group">
      <%= f.label :会員ステータス, class: "col-sm-2" %>
      <%= f.radio_button :is_active, :true %>
      有効
      <%= f.radio_button :is_active, :false %>
      退会
    </div>
      <%= f.submit "編集内容を保存", class: "btn btn-primary" %>
      <% end %>
    <div class='btn-toolbar' role="toolbar">
    </div>
  </div>
</div>