<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/genres_sidebar', genres: @genres %>
    </div>
    <div class="col-9" >
      <h1 class="item-title">
        <% if params[:genre_id] %>
          <%= @genre.name %>
        <% else %>
          <h2>商品一覧</h2>
        <% end %>
      </h1>
        <strong> 全<%= @items.count %>件 </strong><br>
        <div class = "row">
        <% @items.each do |item| %>
          <div class= "col-sm">
            <%= item.name %><br>
            <%= link_to public_item_path(item) do %>
            <%= image_tag item.image, size:"250x250" %><br>
            <% end %>
            <%= item.price %><br>
            <%= item.is_active ? '販売中' : '販売停止中' %><br>
            <%= item.genre.name %><br>
          </div>
        <% end %>
        </div>
    </div>
    </div>
  </div>
</div>